{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ReleaseYear</th>
                <th>PicturePath</th>
                <th>Creator</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.releaseYear }}</td>
                <td>{{ movie.picturePath }}</td>
                {% if movie.user is not null %}
                    <td><a href="{{ path('app_user_profile', {'id': movie.user.id}) }}">{{ movie.user.pseudo }}</a></td>
                {% else %}
                    <td>Deleted or banned user</td>
                {% endif %}
                <td>{{ movie.createdAt ? movie.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_movie_edit', {'work_id': work.id, 'id': movie.id}) }}">edit</a>
                    <a href="{{ path('app_comment_index', {'targetType': 'movie', 'targetId': movie.id}) }}">manage comments</a>
                    {{ include('movie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_new', {'work_id': work.id}) }}">Create new</a>
    <a href="{{ path('app_work_index') }}">Back to work list</a>
{% endblock %}
