{% extends 'base.html.twig' %}

{% block title %}Espace de gestion{% endblock %}

{% block body %}
<a href="{{ path('app_user_admin-list') }}">Manage users</a><br>
<a href="{{ path('app_ban_index') }}">Manage bans</a><br>
<a href="{{ path('app_platform_index') }}">Manage platforms</a><br>
<a href="{{ path('app_tag_index') }}">Manage tags</a><br>
<a href="{{ path('app_work_index') }}">Manage works</a><br>
{% endblock %}
