{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<a href="{{ path('app_main_home') }}">Home</a><br>
<a href="{{ path('app_main_about') }}">About</a><br>
<a href="{{ path('app_main_legal-mentions') }}">Legal-mentions</a><br>
<a href="{{ path('app_main_patch-notes') }}">Patch-notes</a><br>
<a href="{{ path('app_main_back-office') }}">Back-office</a><br>
{% endblock %}
