{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% for flash in app.flashes('success') %}
    <div class="success" role="alert">{{ flash }}</div>
{% endfor %}
<a href="{{ path('app_main_about') }}">About</a><br>
<a href="{{ path('app_main_legal-mentions') }}">Legal-mentions</a><br>
<a href="{{ path('app_main_patch-notes') }}">Patch-notes</a><br>
<a href="{{ path('app_main_back-office') }}">Back-office</a><br>
<br>
<a href="{{ path('app_register') }}">Register</a><br>
<a href="{{ path('app_login') }}">Login</a><br>
<a href="{{ path('app_logout') }}">Logout</a><br>
<a href="{{ path('app_user_profile') }}">Profile</a><br>
<a href="{{ path('app_message_index') }}">Message</a><br>
<a href="{{ path('app_user_followed-work') }}">Followed works (page 1)</a><br>
{% endblock %}
