{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h1>Search</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Search') }}</button>
    {{ form_end(form) }}

    {% if results %}
        {{ results|length }} result(s) found<br>

        {% for result in results %}
            {% include 'main/_search_cards/_' ~ subject ~ '.html.twig' %}
        {% endfor %}
    {% else %}
        <p>no records found</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        const module = {
            init: function () {
                module.subjectSelectElm = document.querySelector('#search_form_subject');
                module.tagContainer = document.querySelector('#search_form_tags').parentElement;

                module.subjectSelectElm.addEventListener('change', module.handleSelectChange);
                //Triggering handler when DOM content is loaded to properly display the form
                module.handleSelectChange();
            },
            subjectSelectElm: null,
            tagContainer: null,
            handleSelectChange: function () {
                if (['Anime', 'LightNovel', 'Manga', 'Movie', 'Work', 'WorkNews'].includes(module.subjectSelectElm.value)) {
                    module.tagContainer.style.display = 'block';
                } else {
                    module.tagContainer.style.display = 'none';
                }
            },
        };

        document.addEventListener('DOMContentLoaded', module.init);
    </script>
{% endblock %}
