{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1>Episode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Creator</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.number }}</td>
                <td>{{ episode.name }}</td>
                {% if season.user is not null %}
                    <td><a href="{{ path('app_user_profile', {'id': season.user.id}) }}">{{ season.user.pseudo }}</a></td>
                {% else %}
                    <td>Banned user</td>
                {% endif %}
                <td>{{ episode.createdAt ? episode.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ episode.updatedAt ? episode.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_episode_edit', {'work_id': work.id, 'anime_id': anime.id, 'season_id': season.id, 'id': episode.id}) }}">edit</a>
                    {{ include('episode/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_episode_new', {'work_id': work.id, 'anime_id': anime.id, 'season_id': season.id}) }}">Create new</a>
{% endblock %}
