{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <h1>News</h1>

    <p>Title : {{ news.title }}</p>
    <p>Message : {{ news.message }}</p>
    <p>PicturePath : {{ news.picturePath is null ? 'No image found' : news.picturePath }}</p>
    <p>
        Creator :
        {% if news.user is not null %}
            <a href="{{ path('app_user_profile', {'id': news.user.id}) }}">{{ news.user.pseudo }}</a>
        {% else %}
            Deleted or banned user
        {% endif %}
    </p>
    <p>CreatedAt : {{ news.createdAt ? news.createdAt|date('Y-m-d H:i:s') : '' }}</p>
    <p>UpdatedAt : {{ news.updatedAt ? news.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
    
    <h2>Add comment</h2>
    {% if app.user is null %}
        <p>Please login to post a comment</p>
    {% elseif app.user.isMuted %}
        <p>You have been silenced, you cannot post a comment.</p>
    {% else %}
        {% include "comment/_form.html.twig" with {
            'form': form,
            'message': '', 
            'parentId': null
            }
        %}
    {% endif %}

    <h2>Comments :</h2>
    {% for comment in comments %}
        <p>{{ comment.message }} By {{ comment.user.pseudo }}<p>
        {% for answer in comment.answers %}
            <p style="margin-left: 20px;">{{ answer.message }} By {{ answer.user.pseudo }}<p>        
        {% endfor %}
    {% else %}
        No comment found
    {% endfor %}
{% endblock %}
