{% extends 'base.html.twig' %}

{% block title %}Delete account{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('edit_logins_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Delete account</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Delete') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_user_profile') }}">Cancel</a>
{% endblock %}