{% extends 'base.html.twig' %}

{% block title %}Work index{% endblock %}

{% block body %}
    <h1>Work index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>PicturePath</th>
                <th>Creator</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td><a href="{{ path('app_work_show', {'id': work.id}) }}">{{ work.name }}</a></td>
                <td>{{ work.type }}</td>
                <td>{{ work.picturePath }}</td>
                {% if work.user is not null %}
                    <td><a href="{{ path('app_user_profile', {'id': work.user.id}) }}">{{ work.user.pseudo }}</a></td>
                {% else %}
                    <td>Deleted or banned user</td>
                {% endif %}
                <td>{{ work.createdAt ? work.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_work_edit', {'id': work.id}) }}">edit</a><br>
                    <a href="{{ path('app_anime_index', {'work_id': work.id}) }}">manage animes</a><br>
                    <a href="{{ path('app_manga_index', {'work_id': work.id}) }}">manage mangas</a><br>
                    <a href="{{ path('app_movie_index', {'work_id': work.id}) }}">manage movies</a><br>
                    <a href="{{ path('app_light-novel_index', {'work_id': work.id}) }}">manage light novels</a><br>
                    <a href="{{ path('app_work-news_index', {'work_id': work.id}) }}">manage work news</a><br>
                    {{ include('work/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_new') }}">Create new</a>
    <a href="{{ path('app_main_back-office') }}">Back to back-office</a>
{% endblock %}
